// Header
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid $extraBackgroundColor;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    font-size: 32px;
    letter-spacing: 0.08em;
  }
}

.buttons-list {
  display: flex;
  align-items: center;

  &-item:not(:last-child) {
    margin-right: 10px;
  }
}

.modal-button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: transparent;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $extraBackgroundColor;
  }
}

// Hero

.form {
  display: flex;
  flex-direction: column;

  width: 400px;
  padding: 6px;

  &-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    line-height: 1.87;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &-input {
    width: 280px;
    height: 20px;
    padding: 2px 6px;
    font-family: inherit;
    font-size: 14px;
    border: 2px solid $extraBackgroundColor;
    transition: border-color 250ms linear;

    &:focus {
      border-color: #212121;
    }
  }
}

// Type-choice section

.type-choice-section {
  padding-top: 0;
}
.type-choice-form {
  width: 400px;
  padding: 6px;
}
.select-field {
  width: 180px;
  height: 28px;

  font-family: inherit;
  font-size: 14px;
  text-align-last: center;
  border: 2px solid $extraBackgroundColor;
  cursor: pointer;
  transition: border-color 250ms linear;

  &:focus {
    border-color: #212121;
  }
}
.option {
  text-align: center;
}
